body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

button {
  display: block;
  width: 200px;
  padding: 10px;
  margin: 20px auto;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#statusDashboard {
  margin-top: 20px;
  font-size: 18px;
}

#statusDashboard p {
  margin: 10px 0;
}

#campaignDetails {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#campaignDetails thead {
  background-color: #4caf50;
  color: white;
}

#campaignDetails th,
#campaignDetails td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

#campaignDetails tr:nth-child(even) {
  background-color: #f9f9f9;
}

#campaignDetails tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

#campaignDetails th {
  position: sticky;
  top: 0;
  z-index: 1;
}
